---
---
@import "{{ site.theme  }}";

body {
    background-color: #000;
    color: #ffffffd0;
}

a:hover {
    color: #ffffffd0;
}

.svg-icon {
    fill: #ffffffd0;
}

.site-header { 
    border-top: 5px solid #111111; 
    border-bottom: 1px solid #151515; 
}
blockquote { 
    background-color: #11111199; 
    color: #ffffff7c; 
    border-left: 4px solid #2b2b2b8a; 
}

.site-nav .page-link {
    color: #ffffff84;
}

.site-title, .site-title:visited { 
    color: #ffffffd0; 
}